/bootstrap/compiled.php
/vendor
/.sass-cache
/app/config/local
/app/config/stage
/app/config/packages
/app/scripts/plugins
/node_modules
/public/pictures
composer.phar
composer.lock
.DS_Store
Thumbs.db
.elasticbeanstalk/
.idea/.name
.idea/encodings.xml
.idea/laravel.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
